<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="index.html">
            <div class="logo-img">
                <img src="/src/img/brand.svg" class="header-brand-img" alt="Shaskment"> 
            </div>
            <span class="text">Shaskment</span>
        </a>
        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik toggle-icon ik-toggle-right"></i></button>
        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
    </div>
    
    <div class="sidebar-content ps ps--active-y">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Navigation</div>
                <div class="nav-item">
                    <a href="/daskboard"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                </div>

                {{!-- <div class="nav-lavel">Google Apps</div>
                <div class="nav-item">
                    <a href="/email/in?label=INBOX"><i class="ik ik-mail"></i><span>Gmail</span></a>
                </div> --}}


                <div class="nav-lavel">Productivity</div>
                <div class="nav-item">
                    <a href="/taskboard/menu"><i class="ik ik-mail"></i><span>To-Do</span></a>
                </div>
                
            </nav>
        </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 761px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 364px;"></div></div></div>
</div>